body {
  font-family: sans-serif;
  margin: 0px;
  padding: 0px;
  /* background-color: #f3d2c1;
  color: #001858; */
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
}

h1 {
  color: #001858;
}

.container {
  position: sticky;
  top: 13em;
  left: 0;
  width: 100%;
  z-index: 9;
}
select {
  width: 200px;
  padding: 20px;
  border: 1;
  background-color: #fffffe;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#navbarTop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: #fef6e4;
}

#navbarTop img {
  max-height: 60px;
  max-width: 60px;
  overflow: visible;
  margin-left: 1em;
  float: left;
}

#navbarTop input {
  width: 500px;
  border: 3px solid #8bd3dd;
  padding: 5px;
  height: 20px;
  /* border-radius: 5px 0 0 5px; */
  outline: none;
  color: black;
}


#searchBar{
  display: flex;
}

#rightSideBtns{
  display: flex;
  flex-direction: row;
  margin: 10px;
}

#filterButton{
  padding: 9px;
  width: 50px;
}

button {
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  font-weight: 600;
  margin: 0;
  width: 100px;
  padding: 10px 0;
  box-shadow: 0 0 1px;
  transition: 0.3s;
}

button:hover {
  color: #001858;
  box-shadow: 0 0 20px #8bd3dd;
  background-color: #8bd3dd;
}

.login {
  color: #001858;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid #8bd3dd;
}

.signUp {
  color: #001858;
  background-color: #8bd3dd;
}

.genre-ctr {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
  font-weight: bold;
  background-color: #f3d2c1;
  /* margin-top: 2em; */
}

form div {
  margin: 1em;
  display: inline-block;
}

.musicList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2em 4em;
  margin-left: 10em;
}

.album {
  display: inline;
}

#album-title {
  display: flex;
  width: 300px;
  flex-wrap: wrap;
}
#album-artist {
  display: flex;
  width: 300px;
  flex-wrap: wrap;
}

#album-img {
  display: block;
  width: 300px;
  height: 300px;
}

#homepageBackground{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(114, 148, 235);
  height: 700px
}

#homepageBanner{
  background-color: rgb(230, 124, 230);
  height: 150px;
  width: 100%;
}

#homepagePanels{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#panelTitle{
  text-align: center
}

.homepagePanel{
  height: 400px;
  width: 300px;
  background-color: rgb(255, 165, 0);
}

.homepagePanel > div {
  text-align: center;
}

.topAlbum{
  height: 300px;
  width: 300px;
}

#stepsAndSummary{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#steps{
  display: flex;
  flex-direction: column;
  width: 60%;
  justify-content: space-evenly;
}

.stepSection{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 2px solid blue;
  margin: 10px;
}

#summary{
  display: flex;
  flex-direction: column;
  border: 2px solid blue;
  width: 35%
}

#userInfoAndButton{
  display: flex;
  flex-direction: row;
}

#review{
  border: 2px solid blue;
  margin: 10px;
}

#reviewTitle{
  display: flex;
  justify-content: space-between
}

.reviewItems{
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.reviewItems img {
  width: 300px;
  height: 300px;
}

.reviewProductDescription {
  margin-left: 10px
}

#placeOrder{
  display: flex;
  flex-direction: row;
  border: 2px solid blue;
  margin: 10px;
}

#orderButton{
  margin-right: 10px;
}
